/*------------------------------tag styles-------------------------------*/
body{
  font-family: 'Merriweather', serif;  margin: 0; color: #40514e;
}
h1
{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;  margin: 2.6rem auto 0 auto; color: #C65D7B;
}
h2
{
    font-family: 'Montserrat', sans-serif; font-size: 2.5rem; color: #C65D7B;
}
p{
  line-height: 2;
}
h3
{
    font-family: 'Montserrat', sans-serif;
}
a
{  font-family: 'Montserrat', sans-serif;

    text-decoration: none;  color: #D29D2B;
}

/*------------------------------class styles-------------------------------*/
.top-container{
  background-color: #fffde7;
  position: relative;
  padding-top: 200px; padding-bottom: 200px; text-align: center;
  margin-bottom: 100px;
}
.top-letter{
  position: absolute;
  height: 150px;
  width: 150px;
}
.top-letter{
  top: 50px;
  right: 400px;
}
.intro{
  width: 50%;
  margin: auto;
  text-align: center;
}
.register-request{
  text-align: center;
}
.chtrn{
  width: 30%;
}
.faq{
  margin: 100px;
  background-color: #F6E7D8;
  padding: 20px;
}
.bottom-container
{
    text-align: center;
    padding: 50px 0 20px;  background-color: #139487;
}
.copyright
{font-size: .75rem; padding: 20px 0;

    color: #eaf6f6;
}
.footer-link
{
    margin: 10px 20px; font-size: 1.5rem;
}
.footer-link:hover{
  color: #eaf6f6;
}
.form{
  background-color: #fffde7;
}
